/*Navbar*/
@media (max-width:600px) {
	.nav > .nav-btn {
	  display: inline-block;
	  position: absolute;
	  right: 0px;
	  top: 30px;
	}
	.nav > .nav-btn > label {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  padding: 13px;
	}
	.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
	  background-color:#4d4d4d;
	  ;
	}
	.nav > .nav-btn > label > span {
	  display: block;
	  width: 25px;
	  height: 10px;
	  border-top: 2px solid #eee;
	}
	.nav > .nav-links {
	  display: block;
	  width: 100%;
	  background-color: #4d4d4d;
	  height: 0px;
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 50px;
	  left: 0px;
	  margin-top: 0;

	}
	.nav > .nav-links > a {
	  display: block;
	  width: 100%;
	}
	.nav > #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
	.nav > #nav-check:checked ~ .nav-links {
	  height: calc(100vh - 10vh);
	  overflow-y: auto;
	}
}

/*MAIN*/
@media (max-width:600px){
	.presentacion{
		height: calc(100vh + 40rem);
		grid-template-rows: 20% 20% 20% 20%;
	}

	.titulo-principal{
		grid-column:1 / 4;
    	grid-row: 1;
	}

	.foto{
		grid-column:2;
    	grid-row: 2 / 3;
		height: 25vh;
		margin: auto;
	}

	.texto-presentacion{
		grid-column:1 / 5;
    	grid-row: 3 / 5;
	}

/*SECTION CARDS*/
.cards{
	display: flex;
	flex-direction: column;
}
.skills-card{
	width: 95%;
}
}



@media screen and (max-width: 600px) {

	.plataforma{
		display: none;}

	table{
		width:min-content;
	}
	}

